connect
DeepLearningInPhysics
LCE_SR1
Old
outputs
PLots
processed_data
resource_cache
ToProcess
strax_data
data 
logs
misc
posrec_models_from_straxen
xenon.config
ActualThesisWork/Irrelevant
ActualThesisWork/Old
ActualThesisWork/resource_cache
ActualThesisWork/strax_data
__pycache__
ActualThesisWork/__pycache__
packages.microsoft.gpg
ssh
tmp.sh
.venv
.direnv
.stversions
*.oci
*.hdf5
*.pkl.gz
heatmap.npy.npz
